h1 {
    text-align: center;
    color: #ebebeb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputText {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #007bff;
    border-radius: 0;
    font-size: 18px;
    transition: border-bottom 0.3s;
    background-color: transparent;
    color: #ffffff;
    outline: none;
}

.inputText:focus {
    border-bottom: 2px solid #ff5722;
}

.inputText::placeholder {
    color: #ccc;
}

  
  .btn {
    padding: 8px 20px;
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: #00fffb1c;
    border: none;
    border-radius: 5px;
    font-weight: 800;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  
  .btn::before {
content: "";
top:0;
left: 0;
width: 100%;
height: 100%;
background:linear-gradient(120deg,transparent,#00fffc,transparent);
transform: translateX(-100%);
transition: 1s;
position: absolute;
  }
  .btn:hover{
    background: transparent;
    box-shadow: 0 0 20px 5px #00fffc;
  }
  .btn:hover::before{
    transform: translateX(100%);
  }
  